$primary-color: #ff7f21;
$headings-color: #333;
$background-body: #f6f7fa;
// Color
$paragraf: #7c7c7c;
$sidebar: #6c63ff;
$white: #fff;
$border-input: #d9d9d9;
// front header
$border-dashboard: #d3d3d3;
$alerts: #2cde9a;
$alerts-promotion: #de2c33;
$card-inside: #f0f3f4;
$label-inside: #c6c6c6;
