.wrapper {
    display: flex;
    align-items: stretch;
    & .name-sidebar,
    .name-sidebar:hover,
    .name-sidebar:focus {
        color: $headings-color;
        text-decoration: none;
        transition: all 0.3s;
        font-size: 14px !important;
        & img {
            padding-bottom: 4px;
            height: 25px;
            width: 22px;
        }
        & label {
            cursor: pointer;
        }
    }
    & .name-sidebar.sidebar-active {
        color: $sidebar;
    }
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    border-right: 2px solid $background-body;
    transition: all 0.3s;
    & .sidebar-header a {
        text-decoration: none;
        color: $headings-color;
    }
    &.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        & .img-cms {
            height: 40px;
            width: 40px;
        }
        & .sidebar-header .btn-group {
            display: none;
        }
        &.sidebar-header h5 {
            display: none;
            font-weight: bold;
        }
        & ul {
            margin-left: 0 !important;
            & li a {
                padding: 20px 10px;
                text-align: center;
                font-size: 0.85em;
                & i {
                    margin-right: 0;
                    display: block;
                    font-size: 1.8em;
                    margin-bottom: 5px;
                }
            }
            & ul a {
                padding: 10px !important;
            }
        }
        & .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
    }
    & .sidebar-header {
        padding: 15px;
        & strong {
            display: none;
            font-size: 1.8em;
        }
    }
    & ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        &:hover {
            color: $sidebar;
            background: #fff;
        }
        & i {
            margin-right: 10px;
        }
    }
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}